// ---------- ==========================================
//  PAGE ELEMENTS - color, embellishment, styling  */

//---------------------
//  color config 
//

// color scheme
$brand-color: 		  	red;

$complement-color: 	  adjust_hue($brand-color, 180);
$secondary-color: 	  adjust_hue($brand-color, 120);
$tertiary-color: 	  	adjust_hue($brand-color, -120);

$text-color:         	#333;     
$background-color:   	#fff;     

// For type
$link-color:           $complement-color;
$link-color-hover:     lighten($link-color,10%);
$link-color-active:    lighten($link-color,20%);
$link-color-visited:   $link-color;

/* ================== GLOBAL ATOMIC */

@include selection-style($brand-color, $background-color);

* {
  @include transition(0.25s, all, ease-out); // # ??? swift-out material design
  @include user-select(darken($brand-color,10%));
  color: $text-color;
}

a {
  color: $link-color;
  text-decoration: none;
  font-weight: 600;
  
  &:hover     { color: $link-color-hover;   border-bottom: 2px solid $link-color; }
  &:active    { color: $link-color-active;  border-bottom: 2px solid $link-color; }
  &:visited   { color: $link-color-visited; }
}

/* =================== Page specifics */

