/* ---------------------------------------
|
|	Pages.less - for specific page styling.
|
|-----------------------------------------
|
| [1] Index/home page
|
*/

.placeholder-hero {
	font-size: 260px;
	color: white;
	text-align: center;
	width: 100%;
	background: #EAEAEA;
	border-radius: 4px;
	padding: 20px 0px;
	margin: 2px 0px 8px;
}