/* ---------- ==========================================
   GLOBAL SCAFFOLD

   # ??? Consider integrating the better suggestions from http://www.google.com/design/spec/layout/metrics-and-keylines.html#metrics-and-keylines-ratio-keylines
*/

body {
  overflow-x: hidden;
  padding: 40px 0px;
}

#document-foot {
	&, * { 
		color: #888;
		font-size: 95%;
	}
}