# NPM / Bower
bower_components/
node_modules/

# Grunt generated
.sass-cache
/css/*
app.min.js

# Composer
composer.lock
composer.phar

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# Misc
logs/*