/* ---------- ==========================================
  TYPOGRAPHY
*/

$thin: 200;
$light: 300;
$normal: 400;
$medium: 600;
$bold: 800;
$black: 900;

.brand-font {
  font-family: 'Helvetica', 'sans-serif' !important;
}

body, input, textarea {
  @extend .brand-font;
}
  
* {
	@extend .prevent-text-breakouts;
	-webkit-font-smoothing: antialiased;
}

#{$headings} {
  &, & * {
    @extend .brand-font;
    letter-spacing: -0.0075em;
    line-height: 1.1em;
    font-weight: bold;
  }
}

#{$headings} {
  cursor: default;
}

