/*==========================================================
|
| 	Project CSS (compiled from SCSS) begins
|
|------------------------------------------------------------
|
|	App.scss
*/

// ---------------------
$img: #{'../../img'};

// ---------------------
// z-index registry
// 
// 100 : Background elements
$z-bg: 100;
// 200 : 
// 300 : 
// 400 : Default, DOM-ordered
$z-index: 400;
// 500 : 
// 600 : 
// 700 : Fixed UI
$z-ui: 700;
// 800 : 
// 900 : Tooltips
$z-hover: 900;

// ---------------------
// Foundation breakpoints
// @media #{$landscape} { }
// @media #{$portrait} { }
//
// @media #{$small-up} { }
// @media #{$small-only} { }
//
// @media #{$medium-up} { }
// @media #{$medium-only} { }
// 
// @media #{$large-up} { }
// @media #{$large-only} { }
// 
// @media #{$xlarge-up} { }
// @media #{$xlarge-only} { }
// 
// @media #{$xxlarge-up} { }
// @media #{$xxlarge-only} { }

/* --- */

@import 'settings',
		'foundation',
//   	'foundation/components/accordion',
//   	'foundation/components/alert-boxes',
//   	'foundation/components/block-grid',
//   	'foundation/components/breadcrumbs',
//   	'foundation/components/button-groups',
//   	'foundation/components/buttons',
//   	'foundation/components/clearing',
//   	'foundation/components/dropdown',
//   	'foundation/components/dropdown-buttons',
//   	'foundation/components/flex-video',
//   	'foundation/components/forms',
//   	'foundation/components/grid',
//   	'foundation/components/inline-lists',
//   	'foundation/components/joyride',
//   	'foundation/components/keystrokes',
//   	'foundation/components/labels',
//   	'foundation/components/magellan',
//   	'foundation/components/orbit',
//   	'foundation/components/pagination',
//   	'foundation/components/panels',
//   	'foundation/components/pricing-tables',
//   	'foundation/components/progress-bars',
//   	'foundation/components/reveal',
//   	'foundation/components/side-nav',
//   	'foundation/components/split-buttons',
//   	'foundation/components/sub-nav',
//   	'foundation/components/switch',
//   	'foundation/components/tables',
//   	'foundation/components/tabs',
//   	'foundation/components/thumbs',
//   	'foundation/components/tooltips',
//   	'foundation/components/top-bar',
//   	'foundation/components/type',
//   	'foundation/components/offcanvas',
//   	'foundation/components/visibility',
		'utils',      	   // Headings, typefaces
		'typography',      // Headings, typefaces
		'elements',        // Global colours, styles
		'scaffolding',     // Global page structure, elements
// -----------------------------------------------------------
// PAGE SPECIFIC
		'index',			// Specific pages
// -----------------------------------------------------------
		'js';				// Classes for js/dynamic functionality
